<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.6/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    backupGlobals="true"
    verbose="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false"
    colors="true">

<testsuites>
    <testsuite name="NoaaCapParser Test Suite">
        <directory>tests</directory>
    </testsuite>
</testsuites>


<filter>
    <whitelist>
        <directory suffix=".php">src/</directory>
    </whitelist>
</filter>

<logging>
    <log type="coverage-html" target="reports/code-coverage" lowUpperBound="40"
         highLowerBound="80"/>
</logging>

</phpunit>
